
labs/Lab1/.ipynb_checkpoints/cnn_text-checkpoint.ipynb
labs/Lab1/.ipynb_checkpoints/mnist_cnn-checkpoint.ipynb
labs/Lab2/.ipynb_checkpoints/bpe_tutorial-checkpoint.ipynb
labs/Lab3/.ipynb_checkpoints/natural_language_generation-checkpoint.ipynb
labs/Lab2/.ipynb_checkpoints/bert_pytorch-checkpoint.ipynb
